<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletAdministrador</servlet-name>
        <servlet-class>Controlador.ServletAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>Controlador.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEvento</servlet-name>
        <servlet-class>Controlador.ServletCreaEvento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModificaCuenta</servlet-name>
        <servlet-class>Controlador.ServletModificaCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBorraEvento</servlet-name>
        <servlet-class>Controlador.ServletBorraEvento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaEventos</servlet-name>
        <servlet-class>Controlador.ServletListaEventos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>Controlador.ServletLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRecuperacionCuenta</servlet-name>
        <servlet-class>Controlador.ServletRecuperacionCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletReestableceContrasena</servlet-name>
        <servlet-class>Controlador.ServletReestableceContrasena</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAdministrador</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEvento</servlet-name>
        <url-pattern>/evento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModificaCuenta</servlet-name>
        <url-pattern>/modificaCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBorraEvento</servlet-name>
        <url-pattern>/borraEvento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaEventos</servlet-name>
        <url-pattern>/listaEventos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRecuperacionCuenta</servlet-name>
        <url-pattern>/RecuperacionCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletReestableceContrasena</servlet-name>
        <url-pattern>/ServletReestableceContrasena</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
   <!-- 
    <security-constraint>
      <web-resource-collection>
         <web-resource-name>PortalACM</web-resource-name>
         <url-pattern>/login</url-pattern>
      </web-resource-collection>
      <user-data-constraint> 
         <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
   </security-constraint>

   <filter>
      <filter-name>filtro-seguridad</filter-name>
      <filter-class>Controlador.ControladorFiltro</filter-class>
   </filter>
   <filter-mapping>
      <filter-name>filtro-seguridad</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
-->
  
    </web-app>
